/** Snake Artikel specifiek **/
#articleCanvas {
	text-align: center;
	margin: 0 auto;
}

#mySnakeCanvas {
	margin: 0 auto;
	border-style: solid;
	border-width: 0.1em;
}

#startSnake{
	margin: 0 auto;
	color: black;
	width: 5em;
	border-radius: 0.5em;
	background: green;
}

#startSnake:hover{
  background-color: black; 
  color: white;	
}

#laadStand{
	margin-left: 1%;
	color: black;
	width: 5em;
	border-radius: 0.5em;
	background:  blue;
}

#laadStand:hover{
  background-color: #d22525; 
  color: white;	
}

#bewaarStand{
	margin-left: 1%;
	color: black;
	width: 5em;
	border-radius: 0.5em;
	background:  blue;
}

#bewaarStand:hover{
  background-color: #d22525; 
  color: white;	
}

#stopSnake{
	margin-left: 1%;
	color: black;
	width: 5em;
	border-radius: 0.5em;
	background:  #d22525;
}

#stopSnake:hover{
  background-color: #d22525; 
  color: white;	
}