/*** Generiek ***/
body {
  padding: 0;
  width: 95%;
}

button {
  background-color: #2F4F4F; 
  color: white;
}

header {
  background-color: #2F4F4F; 
  color: white;  
}

#header, h2, h1 {
  text-align: center;
}

article{
  text-align: center;
}

/*** Navigatie ***/
nav {
  float: left;
}

/*** Navigatie: Links ***/
nav ul a {
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  color: lightgreen; 
}

nav ul li {
  list-style-type: none;
  width: 100%;
  margin-left: none;
  background-color: #2F4F4F;
  border: 0.0625em solid #349939;
  margin: 0.2em;
  padding: 0.2em;
}


